body {
  background-color: #1b262c;
  color: #f1fcfc;
}
hr {
  background-color: #1b262c;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 30%;
}

h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
