body {
  background-color: #1b262c;
  color: #f1fcfc;
  font-family: "Times New Roman", Times, serif;
}
hr {
  background-color: #1b262c;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 30%;
}
.top-menu{
  color: #eef9bf;
}
h1 {
  color: #66BFBF;
}
h3 {
  color: #66BFBF;
}
